/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
 */
body {
    background-color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    padding-left: 15px;
    padding-right: 15;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 40px;
}
.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
.nav>li {
    padding-left: 23px;
    margin-left: 22px;
    position: relative;
}
.nav>li:first-child {
    padding-left: 0;
    margin-left: 0;
}
.nav>li::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left: 0;
}
.nav>li:first-child::before {
    display: none;
}
.nav>li>a {
    text-decoration: none;
    color: #494949;
}
.banner {
    background-image: url('../image/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    padding-top: 260px;
    padding-bottom: 285px;
}
.pizza {
    position: absolute;
    right:0px;
    top: -250px;
}
.title {
    font-size: 50px;
}
.description {
    font-size: 25px;
    line-height: 30px;
    max-width: 570px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 24px;
}
.btn {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    padding: 16px 0px;
    max-width: 190px;
    text-align: center;
}